.lottery-wrapper {
  ul,li{list-style:none;}
  

  @keyframes mymove {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .lottery-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 680px; // 656
    height: 1156px;
    border-radius: 40px;
    margin-top: -578px;
    margin-left: -340px;
    background: #262A34;

    .lottery-close-icon {
      display: inline-block;
      position: absolute;
      width: 48px;
      height: 48px;
      right: 32px;
      top: 32px;
      z-index: 100;
    }

    .max-value-lottery {
      width: 472px;
      height: 472px;
      margin: 84px auto 46px;
      border-radius: 20px;
      img {
        display: inline-block;
        width: 336px;
        height: 336px;
        animation: mymove 0.5s linear;
      }
    }
    .max-value-lottery-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 40px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
    }
    .lottery-list-ul {
      margin: 0 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .lottery-list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 6px;
        border: 1px solid #444444;
        width: 118px;
        height: 178px;
        border-radius: 6px;
        margin: 0 9px 15px 0;
      }
      .lottery-list-title {
        -webkit-text-size-adjust: none;
        font-size: 10px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        display: inline-block;
        transform: scale(0.8);
      }
      .lottery-list-dymomeny-amount {
        -webkit-text-size-adjust: none;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        display: flex;
        label {
          -webkit-text-size-adjust: none;
          display: inline-block;
          font-size: 8px;
          transform: scale(0.8);
          flex: none;
        }
        .lottery-list-amount {
          position: relative;
          right: 12px;
        }
      }
      img {
        // width: 100%;
        width: 96px;
        height: 96px;
        animation: mymove 0.5s linear;
      }
    }
    .lottery-box-xiang-btn-wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      bottom: 58px;
      .one-key-btn {
        --background-color:  #181A20;
        --border-color:  #FD3636;
        border-radius: 48px;
        width: 280px;
        height: 80px;
        font-size: 30px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #fff;
        opacity: 0.64;
        margin-right: 46px;

        .one-key-bg-icon {
          display: inline-block;
          width: 48px;
          height: 48px;
          background: url('https://cdn.tuanzhzh.com/doubi-image/one-open-key-icon.png') no-repeat;
          background-position: center;
          background-size: contain;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      .ten-key-btn {
        --background-color:  #FD3636;
        --border-color:   #FD3636;
        width: 280px;
        height: 80px;
        box-shadow: 0px 24px 48px 0px rgba(0,0,0,0.5);
        border-radius: 48px;
        font-size: 30px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        .ten-key-bg-icon {
          display: inline-block;
          width: 48px;
          height: 48px;
          margin-right: 10px;
          background: url('https://cdn.tuanzhzh.com/doubi-image/ten-open-key-icon.png') no-repeat;
          background-position: center;
          background-size: contain;
          vertical-align: middle;
        }
      }
    }

    .load-draw-dh {
      position: absolute;
      .load-draw-img {
        display: inline-block;
        width: 680px;
        height: 1156px;
      }
    }
  }
}