.copy-right-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 24px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #FFFFFF;
}