.notice-wrapper {
  .notice-content-wrapper {
    position: relative;
    font-size: 32px;
    font-weight: 400;
    color: #181A20;
    .notice-tip-concent {
      font-family: PingFang-SC-Bold, PingFang-SC;
      font-weight: bold;
      color: #FD3636;
      padding: 0 12px;
    }
    .notice-content-lottery {
      position: absolute;
      width: 96px;
      height: 96px;
    }
  }
  .adm-notice-bar {
    background: linear-gradient(326deg, #FFB8E0 0%, #BE9EFF 39%, #88C0FC 67%, #86FF99 100%);
    padding: 0;
  }

}
