.detail-description-wrapper {
  ul,li {
    padding: 0;
    margin: 0;
  }
  .detail-description-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 654px;
    height: 1036px;
    margin-top: -518px;
    margin-left: -327px;
    border-radius: 20px;
    background: url('https://cdn.tuanzhzh.com/doubi-image/detail-bg-big.png') no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: auto;
    padding-bottom: 20px;

    .detail-close-icon {
      display: inline-block;
      position: absolute;
      width: 48px;
      height: 48px;
      right: 32px;
      top: 32px;
    }
    .detail-title {
      margin: 40px 0 40px 0;
      font-size: 40px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #200745;
      text-align: center;
    }

    .detail-description-ul {
      list-style-type: none;
      margin: 0 28px;
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #200745;
      line-height: 40px;
    }
    .probability-li {
      margin-top: 40px;
      margin-bottom: 10px;
    }
    .detail-description-li {
      display: flex;
      align-items: center;
      span:nth-child(1) {
        display: inline-block;
        width: 120px;
      }
      span:nth-child(2) {
        display: inline-block;
        width: 200px;
      }
      span:nth-child(3) {
        display: inline-block;
        width: 300px;
      }
    }
  }
}